#about_creds_container
{
    /* display: flex;
    flex: 1; */
    min-height: 100vh;
    background-color:#00CCCC ;
}

/* Styles for #about_container */
#about_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Container styling for the about section.
   - Utilizes flexbox for a centered and vertically aligned layout.
   - Displays content in a column direction.
*/

#about_shot
{
    width:100%;
    max-width: 600px;
}

/* Styling for an element with the ID "about_shot."
   - Sets the width to 100% for responsiveness.
   - Limits the maximum width to 600px to control the size of the element.
*/

.about_text
{
    /* text-align: center; */
    max-width: 700px;
}

/* Styling for elements with the class "about_text."
   - Centers the text horizontally.
   - Limits the maximum width to 700px to control the size of the text container.
*/


.skills
{
    column-count: 2;
    column-gap: 20px;
    text-align: center;
    list-style-type: none;
}

@media screen and (max-width: 1120px) 
{
  #about_creds_container
  {
    padding: 0 5px 0;
  }

}