/* Styles for the container holding the Astronomy Picture of the Day (APOD) */
.apod_container 
{
    max-width: 400px;                                   /* Set maximum width for the container */
    margin: 0;                                          /* Remove default margin */
    padding: 10px;                                      /* Add padding to the container */
    background-color: #fff;                           /* Set background color to white */
    box-shadow: 10px 10px 10px rgb(0 0 0 / 10%);      /* Apply a subtle box shadow for depth */
}

/* Styles for centering the title within the container */
.title_center 
{
    text-align: center;      /* Center-align text */
    margin-bottom: 5px;      /* Add margin at the bottom */
    margin-top: 0;           /* Remove default margin at the top */
}

/* Styles for APOD image and video */
#apod_image,
#apod_video 
{
    max-width: 100%;    /* Set maximum width for images and videos */
}

/* Styles for the content within the APOD container */
.apod_content
{
    display: flex;              /* Use flexbox for layout */
    flex-direction: column;     /* Arrange content in a column */
    justify-content: center;    /* Center content vertically */
    align-items: center;        /* Center content horizontally */
}

/* Styles for the explanation text */
#apod_explanation 
{
    margin: 0;      /* Remove default margin for the explanation */
}

/* Media query for screens with a maximum width of 1120px */
@media screen and (max-width: 1120px) 
{
    .apod_container 
    {
        max-width: 100%;    /* Set maximum width to 100% for smaller screens */
        padding: 10px;      /* Adjust padding for smaller screens */      
    }

    #apod_image, #apod_video 
    {
        width: 100%;        /* Set width to 100% for images and videos on smaller screens */
    }
}
