/* Styles for .calendar-container */
.calendar-container
{
  /* position: absolute; */
  /* top: 100%; */
  /* right: 0; */

  float: right;
  max-width: 380px;
  border: 1px solid black; /* Add a border directly to the content */  
}

/* Styles for #calendar */
#calendar 
{
  padding: 10px; /* Add padding to create spacing between the content and the border */
  max-width: 360px; /* Adjust max-width to accommodate the border */
  text-align: center; /* Center the content within the border */
  margin: 0 auto; /* Center the elements horizontally */
  background-color: white;
}

/* Styles for navigation buttons within #calendar */
#calendar .fc-prev-button, 
#calendar .fc-next-button 
{
  background: none;  /* Remove the background */
  border: none;      /* Remove the border */
  outline: none;
  color: #000;
  padding: 0px;
}

/* Styles for navigation button focus within #calendar */
#calendar .fc-prev-button:focus,
#calendar .fc-next-button:focus
{
  outline: none;
  box-shadow: none;
}

/* Styles for specific button within #calendar */
#calendar .fc-dayGridMonth-button
{
  outline: none;
  box-shadow: none;   
}

/* Styles for calendar header cells */
#calendar .fc-col-header-cell-cushion
{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media query for screens with a max-width of 768px */
@media (max-width: 768px) 
{
  .calendar-container 
  {
    /* position: relative;
    top: 0; Reset the top property
    right: 0; Reset the right property */
    max-width: 100%; /* Expand to full width */
    margin: 0; /* Remove any margin */
  }

    /* Adjust styles for smaller screens */
  .calendar-container.active 
  {
    display: none;
  }
}
