.creds-row{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.cred-column >.thumbnail
{
    width: 150px;
    /* height: 100px; */
    padding: 5px;
}

.cred-column img:hover{
    opacity: 0.8;
    cursor: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cred-column > .codelou 
{
    /* max-width: 100%; Ensure the image doesn't exceed its container's width */
    height: auto;    /* Allow the height to scale proportionally */
}

.cred-column > .uofl
{
    /* max-width: 80%; Ensure the image doesn't exceed its container's width */
    height: auto;    /* Allow the height to scale proportionally */
}

#expandedImg 
{
    max-width: 90%;
}


@media screen and (max-width: 1680px)
{
    .creds-row
    {
        display: flex;
        justify-content: center;
        align-items: center;
        /* flex-direction: column;  */
    }
}    

@media screen and (max-width: 845px)
{
    .creds-row
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }
}



