.creds_row{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

.cred_column >.thumbnail
{
    width: 150px;
    /* height: 100px; */
    padding: 5px;
}

.cred_column img:hover{
    opacity: 0.8;
    cursor: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cred_column > .codelou 
{
    /* max-width: 100%; Ensure the image doesn't exceed its container's width */
    height: auto;    /* Allow the height to scale proportionally */
}

.cred_column > .uofl
{
    /* max-width: 80%; Ensure the image doesn't exceed its container's width */
    height: auto;    /* Allow the height to scale proportionally */
}

#expanded_img 
{
    max-width: 90%;
}


/* @media screen and (max-width: 1680px)
{
    .creds_row
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        flex-wrap: wrap;
    }
}     */

/* @media screen and (max-width: 820px)
{
    .creds_row
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }
} */



