/* Styles for the main container */
.main-container
{   
    background: url('../img/pexels-markus-spiske-1089438.webp') center center no-repeat,
        url('../img/pexels-markus-spiske-1089438.jpg')  center center no-repeat;                                /* Set a background image centered with no repeat */    
    background-size: cover;                                                                                     /* Cover the container with the background image */   
}

/* Styles for the Astronomy Picture of the Day (APOD) hero container */
.apod_hero_container
{
    display: flex;                        /* Utilize flexbox for layout */
}

/* Styles for the hero container */
.hero_container 
{
    display: flex;                        /* Utilize flexbox for layout */
    justify-content: center;              /* Center content horizontally */
    align-items: center;                  /* Center content vertically */
    width: 100%;                          /* Take up 100% of the available width */
    color: white;                       /* Set text color to white */
}

/* Styles for the hero content */
.hero_content 
{
    padding: 10px;                   /* Add padding to the hero content */
}

/* Styles for the hero title and tagline */
#hero_title, #tagline
{
    text-align: center;             /* Center-align text for hero title and tagline */
}

/* Styles for the greeting and philosophy sections */
#greeting, #philosophy
{
    text-indent: 20px;              /* Indent the text for better readability */
}



/* Media query for screens with a max-width of 1120px */
@media screen and (max-width: 1120px) 
{
  .apod_hero_container
  {
    flex-direction: column-reverse;         /* Change the flex direction to column-reverse for smaller screens */
  }

}