/* Styles for .main-container */
.main-container
{   
    background: url('../img/pexels-markus-spiske-1089438.webp') center center no-repeat,
        url('../img/pexels-markus-spiske-1089438.jpg')  center center no-repeat; /* Set a background image centered with no repeat */
    
    background-size: cover; /* Cover the container with the background image */   
}

.apod_hero_container
{
    display: flex;
}

/* Styles for .hero_container */
.hero_container 
{
    /* background-color: rgb(255 0 0 / 50%); Apply a red background with 50% opacity (semi-transparent) */
    padding: 0 10px 0 10px ; /* Add 10px of padding around the content */  
    display: flex; 
    justify-content: center; 
    /* flex-direction: column; */
    align-items: center;   
    width: 100%;
    color: white;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); Add a subtle text shadow for better readability */
}

/* Styles for .hero_content */
.hero_content 
{
    /* text-align: center; Center the text content within the hero container */
    /* background: rgba(0, 0, 0, 0.3); */
}

#hero_title, #tagline
{
    text-align: center;
}





/* Media query for screens with a max-width of 1120px */
@media screen and (max-width: 1120px) 
{
  .apod_hero_container
  {
    flex-direction: column-reverse;
  }

  .hero_container
  {

  }

}