/* CSS for body and header */
body
{
  margin: 0; /* Remove default margin */
  padding: 0 ;

} 

#top-header
{
  overflow: hidden;
  background: #FF7518; /* Set a background color for the header */
}

/* CSS for navigation links */
#top-nav > .nav-links 
{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: center; 
  float: right;
  padding: 0;
  margin: 0;
}

#top-nav > .nav-links > li
{
  padding: 7px 4px;
}

#top-nav > .nav-links > li > a
{
  text-decoration: none;
  font-size: 18px;
}

#top-nav > .nav-links li:hover
{
  background-color: #a45ee5; /* Change background color on hover */
}

footer
{
  overflow: hidden;
  background: #FF7518;
  margin-top: auto; /* Push the footer to the bottom of the page */
}

footer > p 
{
  padding-left: 5px;
}

@media screen and (width <= 768px) 
{  /* Styles for the hamburger menu */ 
  .hamburger 
  {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px 3px;
    top: 3px;     
  }
      
  .hamburger > span
  {
    width: 25px;
    height: 4px;
    background-color: black;
    margin: 1px 0;  
    transition: background-color 0.3s ease-in-out; /* Smooth transition */
  }

  #top-nav > .nav-links
  {
    display: none; /* Hide the navigation links by default */
  }     
    
  /* Styles for the navigation when it's active (visible) */
  #top-nav.active 
  {
    display: flex; 
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #50C878;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #top-nav.active .hamburger > span
  {
    background-color: transparent; /* Hide the hamburger menu bars */
    transition: background-color 0.3s ease-in-out;
  }
    
  #top-nav.active > .nav-links 
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
      
  }

  #top-nav.active > .nav-links > li > a
  {
    color: #E34234; /* Change link color when active */
  }
}

    






