.apod-container 
{
    max-width: 800px;
    margin: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 10%);
}

/* Styling for a container that holds content, like an image and text.
   - Sets a maximum width of 800px.
   - Removes margin.
   - Adds 10px of padding inside the container.
   - Gives the container a white background.
   - Applies a subtle box shadow for depth.
*/

.title-center 
{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0;
}

/* Center-aligns text inside elements with the "centered" class.
   - Used for text alignment.
*/

#apod-image,
#apod-video 
{
    max-width: 100%;
}

/* Styling for elements with the IDs "apod-image" and "apod-video".
   - Sets the maximum width to 100% to make them responsive.
   - Ensures images and videos resize to fit their containers.
*/

.apod-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styles for an element with the class "content."
   - Utilizes flexbox to center content both horizontally and vertically.
*/

#apod-explanation 
{
    margin: 0;
}

/* Styling for an element with the ID "apod-explanation."
   - Removes margin to control spacing around the explanation text.
*/


@media (width <= 1120px) 
{
    .apod-container 
    {
        max-width: 100%; 
        padding: 10px;
    }

    #apod-image, #apod-video 
    {
        width: 100%; 
    }
}

/* Media query for screens with a maximum width of 768px.
   - Adjusts styles for responsive design.
   - The "apod-container" expands to full width, and padding remains 10px.
   - "apod-image" and "apod-video" elements have their width set to 100% to ensure full width.
*/