/* Styles for the container holding projects */
.projects_container 
{
    background: #004958; /* Sets a dark background color (#232443) */
    display: flex; /* Utilizes flexbox for layout */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 48px 0; /* Adds padding of 48px at the top and bottom */
}

/* Styles for the content within the projects container */
.projects_content 
{
    color: #F1F1F1; /* Sets the text color to a light color (#F1F1F1) */
    width: 100%; /* Takes up 100% of the available width */
    /* max-width: 1000px; Specifies a maximum width of 1000px and makes it responsive */
    display: flex; /* Utilizes flexbox for layout */
    flex-direction: row; /* Arranges content in a row */
    justify-content: space-evenly; /* Distributes space evenly between items */
    align-items: center; /* Centers content vertically */
    /* padding: 12px; Adds 12px of padding to the content */
}

/* Styles for individual project items */
.projects_item 
{
    display: flex; /* Utilizes flexbox for layout */
    flex-direction: column; /* Arranges content in a column */
    align-items: center; /* Centers content horizontally */
    text-align: center; /* Sets text alignment to center */
    padding: 5px;
}

/* Styles for buttons with the "btn" class */
.btn
{
    display: inline-block; /* Makes the button an inline block element */
    padding: 6px 12px; /* Specifies padding for internal spacing */
    background-color: #082567; /* Sets background color for the button */
    color: #ffffff; /* Sets text color for the button */
    text-decoration: none; /* Removes the default text decoration */
    border: none; /* Removes the default button border */
    border-radius: 6px; /* Adds rounded corners with a border-radius */
    text-align: center; /* Centers text within the button */
}

/* #082567 (sapphire) , #002366 (royal blue) ,#0038b8 (israel blue) */

